<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin_main.css"/>
    <title>{{title}}</title>
</head>

<body>
<div class="container">
<!----- 헤더 영역 ----->

<div class="header">
    <div id="main-wrapper">
    <a href="/"><img src="/images/logo_1536x984.png" alt="Ontelier" class="logo"></a>
    <div class="right">
        <span class="red"> ● </span>
        <span>{{user.user_nickname}} 님</span>
        <button class="button" type="button" onclick="location.href='/auth/logout'">로그아웃</button>
    </div>
    </div>
</div>

<!----- 메뉴 영역 ----->
    <div id="menu">
        <ul class="menu-item">
            <li class="nav" id="class-menu">
                <a href="#class-menu"><div class="pt24">클래스</div></a>
                <div class="submenu">
                    <a href="/admin">전체보기</a>
                    {% if user and user.user_roll === 'admin' %}
                    <a href="/admin?category=DIY/수공예">수공예/DIY</a>
                    <a href="/admin?category=예술문화">예술문화</a>
                    <a href="/admin?category=스포츠">스포츠</a>
                    <a href="/admin?category=뷰티">뷰티</a>
                    <a href="/admin?category=요리">요리</a>
                    <a href="/admin?category=음악">음악</a>
                    <a href="/admin?category=디자인/개발">디자인/개발</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav" id="member-menu">
            <a href="#member-menu"><div class="pt24">회원관리</div></a>
                <div class="submenu">
                    <a href="/admin/alluser">회원정보</a>
                    <a href="">전체페이지</a>
                </div>
            </li>
            
            <li class="nav" id="cs-menu">
            <a href="#cs-menu"><div class="pt24">CS관리</div></a>
                <div class="submenu">
                    <a href="/admin/review">후기/Q&A 관리</a>
                </div>
            </li>
        </ul>
    </div>

<!----- 콘텐트 영역 ----->
    <div class="content">

        <!-- 검색창 -->
        <div class="search-box">
            <select name="search-filter" class="search-field">
                <option value="클래스이름">클래스이름</option>
                <option value="클래스가격">클래스가격</option>
                <option value="카테고리">카테고리</option>
                <option value="강사이름">강사이름</option>
            </select>
            <input type="text" class="search-input">
            <button class="search-button" onclick="search()">검색</button>
        </div>

        {% block content %}
        {% endblock %}

    </div>
    <script>
        function search() {
            var searchFilter = document.getElementsByName('search-filter')[0].selectedIndex;
            var searchKeyword = document.getElementsByClassName('search-input')[0].value;

            switch (searchFilter) {
                case 0:
                    location.href = `/admin?filter=class_title&keyword=${searchKeyword}`;
                    break;
                case 1:
                    location.href = `/admin?filter=class_price&keyword=${searchKeyword}`;
                    break;
                case 2:
                    location.href = `/admin?filter=category&keyword=${searchKeyword}`;
                    break;
                case 3:
                    location.href = `/admin?filter=teacher_name&keyword=${searchKeyword}`;
                    break;
            }
        }
    </script>
</div>

</body>
{% if messages and messages.length > 0 %}
<script>alert("{{messages}}");</script>
{% endif %}
</html>