{% extends 'admin_layout.html' %}
{% block content %}
<!-- 
    유저 후기 작성 구현으로 인해 필요없어짐
    <button id="add-button" class="big-button" onclick="location.href='/admin/review/write'">추가</button>
-->
<!-- 클래스 리스트 -->
<table class="review-table">
<tr>
    <th>후기번호</th>
    <th>클래스이름</th>
    <th>후기작성자</th>
    <th>후기내용</th>
    <th>후기점수</th>
</tr>
{% for review in reviews %}
<tr>
    <td><a href="/admin/review/{{review.id}}">{{review.id}}</a></td>
    <td>{{review.Class.class_title}}</td>
    <td>{{review.reviewer}}</td>
    <td>{{review.review_text}}</td>
    <td>{{review.review_score}}</td>
</tr>
{% endfor %}
</table>

<!-- 페이지네이션 -->
<ul class="pagination">
    {% if pageNum | int > 1 %}
        <li class="page-item"><a class="page-link" href="/admin/review?page={{pageNum | int - 1}}">〈</a></li>
    {% endif %}
        <li class="page-item"><a class="page-link" href="/admin/review?page={{pageNum | int}}">{{pageNum | int}}</a></li>
    {% if pageNum < (pages / limit) %}
        <li class="page-item"><a class="page-link" href="/admin/review?page={{pageNum | int + 1}}">〉</a></li>
    {% endif %}
</ul>
{% endblock %}
