{% extends 'layout.html' %}
{% block content %}
<!-- 클래스 리스트 -->
<table class="user-table">
<tr>
    <th>아이디</th>
    <th>이메일</th>
    <th>닉네임</th>
    <th>전화번호</th>
    <th>가입일</th>
    <th>가입구분</th>
</tr>
{% for user in users %}
<tr>
    {% if user.user_roll === 'admin' %}
        <td style="color: red;">
    {% else %}
        <td>
    {% endif %}
        {{user.user_id}}
    </td>
    <td>{{user.user_email}}</td>
    <td>{{user.user_nickname}}</td>
    <td>{{user.user_phone}}</td>
    <td>{{user.user_enrolldate}}</td>
    <td>{{user.provider}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
