{% extends 'main_layout.html' %}
{% block content %}

<div class="contents_video_container">

<!----- 강의영상 배너 ----->
<div class="contents-video-wrapper">
  <!-- <img class="contents_banner" src="{{class.class_img}}"> -->
  <button type="button" class="contents-button">▶</button>
</div>

    <div class="class_space"></div>

<!----- 좌측 컨텐츠 ----->
<div class="class_center">

  <menu class="class_nav floating">
    <ul>
      <li class="on" onclick="acyncMovePage(classnote)">수업노트</li>
      <li onclick="acyncMovePage(comment)">댓글</li>
      <li onclick="acyncMovePage(cirriculum)">커리큘럼</li>
    </ul>
  </menu>

  <div class="class_contents">
    <!-- 네비바 클릭시 에이젝스로 변경되는 콘텐츠 영역 -->
  </div>

</div>
    <!-- <input type="button" value="돌아가기" onclick="history.back()"> -->

</div>

<script>

      var classnote = `<!-- 클래스 설명 -->
        <p id="class_info" class="scroll">{{class.class_title}}</p>
        <div class="class_space"></div>

        <!-- 챕터 소개 -->

        <!-- 수업 목표 -->>
        <p>{{info.lecture_goal}}</p>

        <!-- 수업 개요 -->
        <p>{{info.lecture_summary}}</p>

        <!-- 다음 영상 예고 -->
        <p>{{info.lecture_previous}}</p>


        <div class="class_space"></div>`;

      var comment = `{% for c in cmt %}
                <!-- 유저 테이블도 연결은 해놨는데 sql에 안 불러와지네요 -->
                {{c.lecture_cmt_text}} <small>{{c.lecture_cmt_enrolldate}}</small><br>
                {% endfor %}`;

      var cirriculum = `
            <p class="sub-title">커리큘럼</p>

                <div id="menu">
                <!-- 커리큘럼 -->
                {% for cir in cirriculum %}
                  {% if cir.depth == 0 %}
                    <div class="cirriculum-title">{{cir.cirriculum_text}}</div>
                  {% else %}
                    <div class="submenu">{{cir.cirriculum_text}}</div>
                  {% endif %}
                {% endfor %}
                </div>`;

    // 콘텐츠 로드
    $(".class_contents").html(classnote);


    function acyncMovePage(contents){
        $(".class_contents").html(contents);
    }

$(function() {
    var tabBtn = $(".class_nav li");     //각각의 버튼을 변수에 저장


    tabBtn.click(function(){
      var target = $(this);         //버튼의 타겟(순서)을 변수에 저장
      var index = target.index();   //버튼의 순서를 변수에 저장
      tabBtn.removeClass("on");    //버튼의 클래스를 삭제
      target.addClass("on");       //타겟의 클래스를 추가
    });
  });

  $(".cirriculum-title").click(function() {
    $(this).next(".submenu").stop().slideToggle(300);
    // $(this).toggleClass('on').siblings().removeClass('on');
    $(this).next(".submenu").siblings(".submenu").slideUp(300); // 1개씩 펼치기
  });

</script>


{% endblock %}
