{% extends 'main_layout.html' %}
{% block content %}

<div class="login-container">
<div class="login-wrapper">

<h2>후기 작성</h2><br>
<form method="post" action="/class/review/write" enctype="multipart/form-data">

            <h3>클래스에 만족하셨나요?</h3>
            <div class="star-wrapper">
            <span class="star">
            ★★★★★
            <span>★★★★★</span>
            <input type="range" name="review_score" oninput="drawStar(this)" value="1" maxlength="20" min="0" max="5" step="0.5">
            </span></div><br><br>

            <textarea name="review_text" cols="70" rows="10" placeholder="후기를 입력해주세요."></textarea>

            <div class="file-box">
              <label for="ex_file">사진 올리기</label>
              <input type="file" name="review_img" id="ex_file" accept="image/*" onchange="setThumbnail(event);" multiple/>
              <div id="image-container"></div>
            </div>

     <br>

    <input type="hidden" value="0" name="review_best_num">
    <input type="hidden" value="{{result.id}}" name="class_id">
    <input type="submit" class="submit-button" value="입력">
    <input type="button" class="submit-button" value="취소" onclick="history.back()">

</div>
</div>

<script>
  function setThumbnail(event) {
    for (var image of event.target.files) {
      var reader = new FileReader();

      reader.onload = function(event) {
        var img = document.createElement("img");
        img.setAttribute("src", event.target.result); document.querySelector("div#image-container").appendChild(img);
      };

      console.log(image);
      reader.readAsDataURL(image);
    }
  }

  const drawStar = (target) => {
   document.querySelector(`.star span`).style.width = `${target.value * 20}%`;
 }
</script>

{% endblock %}
