{% extends 'main_layout.html' %}
{% block content %}

<div class="contents_video_container">

<!----- 강의영상 배너 ----->
<div class="contents-video-wrapper">
  <iframe src="https://www.youtube.com/embed/aQch9Vb7Bdw?modestbranding=1&rel=0" title="video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <!-- <button type="button" cla><img src="/images/play-btn-2.png"></button> -->
</div>

<!----- 좌측 컨텐츠 ----->
<div class="class_center">

  <menu class="class_nav floating">
    <ul>
      <li class="on" onclick="acyncMovePage('/class/contents/{{class_id}}/classnote')">수업노트</li>
      <li onclick="acyncMovePage('/class/contents/{{class_id}}/cirriculum')">커리큘럼</li>
    </ul>
  </menu>

  <div class="class_contents">
    <!-- 네비바 클릭시 에이젝스로 변경되는 콘텐츠 영역 -->
  </div>

</div>
    <!-- <input type="button" value="돌아가기" onclick="history.back()"> -->

</div>

<script>

  $(".class_contents").load('/class/contents/{{class_id}}/classnote #note-video', function() {
    var video_url = $(".class_contents").text();
    $(".contents-video-wrapper > iframe").attr("src", video_url + "?modestbranding=1&rel=0");
    $(".class_contents").load('/class/contents/{{class_id}}/classnote');
  });



    // 콘텐츠 로드
    // $(".class_contents").html(classnote);


$(function() {
    var tabBtn = $(".class_nav li");     //각각의 버튼을 변수에 저장


    tabBtn.click(function(){
      var target = $(this);         //버튼의 타겟(순서)을 변수에 저장
      var index = target.index();   //버튼의 순서를 변수에 저장
      tabBtn.removeClass("on");    //버튼의 클래스를 삭제
      target.addClass("on");       //타겟의 클래스를 추가
    });
  });



  function acyncMovePage(url){

      $.ajax({
          type : "get",
          url : url,
          dataType : "html",
          error : function(request, status, error){
              alert(error);
          },
          success : function(note){


            // Contents 영역 교체
            $(".class_contents").html(note);

          }

      });
  }


</script>


{% endblock %}
