{% extends 'main_layout.html' %}
{% block content %}

<style media="screen">

  #main-container {
    display: grid;
    grid-template-areas:
      '. header .'
      '. content .'
      'footer footer footer';
    grid-template-columns: calc(50vw - 1200px /2) 1200px calc(50vw - 1200px /2);
  }
  @media ( max-width: 1200px ) {
    #main-container {
    grid-template-areas: '. header .'
        'content content content'
        'footer footer footer';
    grid-template-columns: calc(50vw - 900px /2) 900px calc(50vw - 900px /2);
    }
  }

</style>

<div class="contents_view_container">

<!----- 강의영상 배너 ----->
<div class="contents-banner-wrapper">
  <div class="contents-text-wrapper">

  <div>{{class.class_title}}</div>
  <button type="button" class="contents-button" onclick="location.href='/class/contents/{{class.id}}/video?num=0-1'"><img src="/images/play-btn.png"> <span id="contents-btn-num">0-1</span> 수강하기</button>
  <div>
    <span class="contents-enrolldate">~{{date}}까지</span>
  </div>

  </div>
</div>


<!----- 우측 컨텐츠 ----->
<div class="class_right">
  <div class="class_float_wrapper floating">

      <p class="sub-title">커리큘럼</p>

          <div id="menu">
          <!-- 커리큘럼 -->
            <div>
        {% if cirriculum %}
          {% for cir in cirriculum %}
            {% if cir.depth == 0 %}
             </div>
              <div class="cirriculum-title">
                <span>{{cir.cirriculum_text.replace(' ', '. ')}}</span>
                <img src="/images/arrow-down.png">
              </div>
              <div class="submenu">
            {% elif cir.depth == 1 %}
              {% if cir.cirriculum_text.includes("-") %}
              <span>{{cir.cirriculum_text.substr(2).replace(' ', '. ')}}<a href="#" class="cirriculum-btn"><img src="/images/play-btn-gray.png" id="{{cir.cirriculum_text.split(" ")[0]}}"></a></span>
              {% else %}
              <span>{{cir.cirriculum_text}}</span>
              {% endif %}
            {% endif %}


          {% endfor %}
        {% endif %}

           </div>

          </div>




  </div>
</div>

<!----- 좌측 컨텐츠 ----->
<div class="class_left">

  <menu class="class_nav floating">
    <ul>
      <li class="on">수업노트</li>
    </ul>
  </menu>

  <div class="class_contents">
    <!-- 네비바 클릭시 에이젝스로 변경되는 콘텐츠 영역 -->
  </div>

</div>

    <!-- <input type="button" value="돌아가기" onclick="history.back()"> -->

</div>


<script>


    // 콘텐츠 로드

    $.ajax({
        type : "get",
        url : '/class/contents/{{class.id}}/classnote',
        dataType : "html",
        error : function(request, status, error){
            alert(error);
        },
        success : function(note){


          // Contents 영역 교체
          $(".class_contents").html(note);
          $("#class_info").html("{{class.class_title}}");

        }

    });



$(function() {
    var tabBtn = $(".class_nav li");     //각각의 버튼을 변수에 저장


    tabBtn.click(function(){
      var target = $(this);         //버튼의 타겟(순서)을 변수에 저장
      var index = target.index();   //버튼의 순서를 변수에 저장
      tabBtn.removeClass("on");    //버튼의 클래스를 삭제
      target.addClass("on");       //타겟의 클래스를 추가
    });
  });

  $(".cirriculum-title").click(function() {
    $(this).next(".submenu").stop().slideToggle(300);
    $(this).next(".submenu").siblings(".submenu").slideUp(300); // 1개씩 펼치기

    if ( $(this).find("img").attr("class") == "up" ) {
      $(this).find("img").attr("src", "/images/arrow-down.png"); // down 화살표로
    } else { // down 눌렀을 때
      $(".cirriculum-title img").replaceWith('<img src="/images/arrow-down.png">'); // 다른 화살표들 down으로
      $(this).find("img").attr("src", "/images/arrow-up.png"); // up 화살표로
    }

    $(this).find("img").toggleClass("up");
  });

  $(function() {
    var strArr = "{{date}}".split(' ')[0];
    var split_date = strArr.split('/');

    var date = new Date(split_date[0], split_date[1]-1, split_date[2]);
    date.setDate(date.getDate() + 7 * 16);
    var end_date = String(date.toISOString()).split("T")[0].replace('-', '.').replace('-', '.');

    $(".contents-enrolldate").html(`~${end_date}까지`);
  });

$(function() {

  var cirBtn = $(".cirriculum-btn img");

  cirBtn.click(function() {

    cirBtn.attr("src", "/images/play-btn-gray.png");
    $(this).attr("src", "/images/play-btn-green.png");

    var cir_num = $(this).attr("id");

    $("#contents-btn-num").html(cir_num);
    $(".contents-button").attr("onclick", `location.href='/class/contents/{{class.id}}/video?num=${cir_num}'`);

  });
});
</script>


{% endblock %}
