{% extends 'main_layout.html' %}
{% block content %}
{% if class %}
    <table>
        <tr>
            <th>클래스이미지</th>
            <td><img src="{{class.class_img}}"></td>
        </tr>
        <tr>
            <th>클래스이름</th>
            <td>{{class.class_title}}</td>
        </tr>
        <tr>
            <th>할인률</th>
            <td>{{class.class_discount}}%</td>
        </tr>
        <tr>
            <th>클래스가격</th>
            <td>{{class.class_price}}</td>
            </td>
        </tr>
        <tr>
            <th>클래스소개</th>
            <td>{{class.class_info}}</td>
        </tr>
        <tr>
            <th>강사이름</th>
            <td>{{class.teacher_name}}</td>
        </tr>
        <tr>
            <th>강사소개</th>
            <td>{{class.teacher_info}}</td>
        </tr>
        <tr>
            <th>커리큘럼</th>
            <td>{{class.class_cirriculum}}</td>
        </tr>
        <tr>
            <th>후기</th> <!--후기랑 Q&A 불러오기-->
            <td>후기들</td>
            <td><button type="button" onclick="location.href='/class/{{class.id}}/review'">후기 더보기</button></td>
        </tr>
        <tr>
            <th>강의평가</th>
            <td>{{class.class_score}}</td>
        </tr>
        <tr>
            <th>Q&A</th>
            <td>큐앤에이</td>
        </tr>
    </table>

    <button class="submit-button" type="button" onclick="location.href='/class/{{class.id}}/payment'">신청하기</button>


    {% else %}
    <h1>잘못된 접근입니다</h1>
    {% endif %}
    <input type="button" value="돌아가기" onclick="history.back()">

{% endblock %}
