  <div id="menu">
  <!-- 커리큘럼 -->
    <div>
{% if cirriculum %}
  {% for cir in cirriculum %}
    {% if cir.depth == 0 %}
     </div>
      <div class="cirriculum-title">{{cir.cirriculum_text.replace(' ', '. ')}}</div>
      <div class="submenu">
    {% elif cir.depth == 1 %}

      <span>{{cir.cirriculum_text.split("-")[1].replace(' ', '. ')}}<a href="#" class="cirriculum-btn"><img src="/images/play-btn-gray.png" id="{{cir.cirriculum_text.split(" ")[0]}}"></a></span>
    {% endif %}


  {% endfor %}
{% endif %}

   </div>

  </div>
