{% extends 'main_layout.html' %}

{% set sale_price = class.class_price * ( (100 - class.class_discount) / 100 ) %}

{% block content %}

<link rel="stylesheet" href="/stylesheets/class.css"/>
<script src="/javascripts/classView.js"></script>

<style media="screen">

  #main-container {
    display: grid;
    grid-template-areas:
      '. header .'
      '. content .'
      'footer footer footer';
    grid-template-columns: calc(50vw - 1200px /2) 1200px calc(50vw - 1200px /2);
    grid-template-rows: 60px 95% 300px;
  }
  @media ( max-width: 1200px ) {
    #main-container {
      grid-template-columns: calc(50vw - 900px /2) 900px calc(50vw - 900px /2);
    }
  }

</style>

<div class="class_view_container">

<!----- 클래스 배너 ----->
<div class="class-banner-wrapper">
  <img class="class_banner" src="{{class.class_img}}">
</div>

    <div class="class_space"></div>

<!----- 우측 컨텐츠 ----->
<div class="class_right">
  <div class="class_float_wrapper floating">
      <div class="class-title-wrapper">
        <p class="class_title">{{class.class_title}}</p>
      </div>

      <div class="prices">
        {% if class.class_discount %}
        <span class="discount">{{class.class_discount}}%</span>
        <span class="price">{{class.class_price.toLocaleString('ko-KR')}}원</span>
        {% endif %}
        <span class="sale_price">{{sale_price.toLocaleString('ko-KR')}}원</span><br>
      </div>

      <button type="button" class="like-button" name="button" onclick="inWishlist();">
        {% if userWish %}
        <span id="heart" class="checked">♥</span>
        {% else %}
        <span id="heart" class="unchecked">♥</span>
        {% endif %}
        <span id="wishlist_num">{{wishlist_num}}</span>
      </button>
      <button class="submit-button" id="class-submit-button" type="button" onclick="location.href='/class/{{class.id}}/payment'">신청하기</button>

  </div>
</div>

<!----- 좌측 컨텐츠 ----->
<div class="class_left">

  <menu class="class_nav floating">
    <ul>
      <li data-target="#class_info">클래스소개</li>
      <li data-target="#class_teacher_name">강사소개</li>
      <li data-target="#class_cirriculum">커리큘럼</li>
      <li data-target="#class_review">후기</li>
    </ul>
  </menu>

  <div class="class_contents">
    <!-- 클래스 설명 -->
    <p id="class_info" class="scroll">클래스 소개</p>
    <div>{{class.class_info | safe}}</div>
    <div class="class_space"></div>

    <!-- 강사 소개 -->
    <p id="class_teacher_name" class="scroll">강사 {{class.teacher_name}}</p>
    <p class="class_teacher_info">{{class.teacher_info | safe}}</p>

    <div class="class_space"></div>

    <!-- 커리큘럼 -->
    <p id="class_cirriculum" class="scroll">커리큘럼</p>
    {% for cir in cirriculum %}
      <div class="pt20">
        {% if cir.depth == 0 %}
        <p><b>{{cir.cirriculum_text}}</b></p>
        {% else %}
        <p>{{cir.cirriculum_text}}</p>
        {% endif %}
      </div>
    {% endfor %}
    <div class="pt20">{{class.class_cirriculum | safe}}</div>

    <div class="class_space"></div>

    <!-- 후기 -->
    <p id="class_review" class="scroll">실제 후기<span>{{reviews.length}}개</span></p>
    {% for review in reviews %}

    <div class="class_review_wrapper" id="review_id{{review.id}}">

      <span class="pt20">{{review.reviewer}} 님</span>
      <div class="class-star-wrapper">
        <span class="star">★★★★★</span><span class="star-fill">★★★★★</span>
      </div>
      <span class="date">{{review.review_enrolldate.split(" ")[0].replace('/', '-').replace('/', '-')}}</span>
      <p>{{review.review_text}}</p>

      {% if review.review_img %}
      <div class="class-review-img">
        <img src="{{review.review_img}}">
      </div>
      {% endif %}

    </div>

    <script type="text/javascript">
      document.querySelector(`#review_id{{review.id}} .star-fill`).style.width = `{{review.review_score * 20 + 5}}%`
    </script>

    {% endfor %}

    <button type="button" class="class_more_button" name="button"><a href="/class/{{class.id}}/review">+ 후기 더보기</a></button>
    <div class="class_space"></div>

  </div>

</div>

</div>
<script>
    $(document).ready(function(){

      if ( `{{user.user_id}}` != "" ) { // 로그인 되어있을 시에만

        $.ajax({
            type : "GET",
            url : "/mypage/wishlist",
            dataType : "json",
            error : function(request, status, error){
                alert(error);
            },
            success : function(Wish_data){
              // 유저 찜목록에 이 클래스가 있으면
              console.log(Wish_data);
              var isInWishlist = Wish_data.some(class_id => class_id.ClassId == {{class.id}});
              if ( isInWishlist ) {
                $(`#heart`).attr("class", "checked"); // 클래스명 checked로 변경
              }

            }

        });
      }
  });

  function inWishlist() {
    $.ajax({
      type: "POST",
      url: `/class/{{class.id}}/wish`,
      success: function(response) {
        console.log(response.message);

        if (response.message == undefined) {
          alert(`찜하기는 로그인 후 이용하실 수 있습니다.`);
          location.href="/login";
        } else {

          if ($(`#heart`).attr("class") == "unchecked") { // 클래스명이 unchecked 일 시
            $(`#heart`).attr("class", "checked"); // 클래스명 checked로 변경
          } else {
            $(`#heart`).attr("class", "unchecked"); // 클래스명 unchecked로 변경
          }

          $(`#wishlist_num`).html(response.num); // 서버로부터 변경된 값 받아서 넣기

        }

      },
      error: function (request, status, error) {
        alert(error);
      },
    });
}
</script>
{% endblock %}
