{% extends 'main_layout.html' %}
{% block content %}
{{class.class_title}}<br>
{{class.class_price}}<br>
<button onclick="requestPay()">결제하기</button>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

<script>
    console.log("할인된 가격: {{class.class_price - (class.class_price * class.class_discount / 100)}}");
    IMP.init('imp00447746');
    function requestPay() {
        IMP.request_pay({
            pg: 'html5_inicis',
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: '온뜰 강의 구매',
            amount: "{{class.class_price - (class.class_price * class.class_discount / 100)}}",
            buyer_email: "{{user.user_email}}",
            buyer_name: "{{user.user_nickname}}",
            buyer_tel: "{{user.user_phone}}",
        }, function(rsp) {
            if (rsp.success) {
                jQuery.ajax({
                    url: "/class/{{class.id}}/payment/complete",
                    method: "POST",
                    headers: { 
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    },
                    data: JSON.stringify({
                        imp_uid: rsp.imp_uid,
                        merchant_uid: rsp.merchant_uid
                    })
                }).done(function(data) {
                    // 가맹점 서버 결제 API 성공시 로직
                    switch (data.status) {
                        case 'vbankIssued':
                            // 가상계좌 발급 시 로직
                            alert('가상계좌가 발급되었습니다');
                            break;
                        case 'success':
                            alert('결제 성공');
                            break;
                    }
                    window.location.href='/mypage';
                });
            } else {
                alert('결제에 실패하였습니다. 에러 내용: ' + rsp.error_msg);
            }
        });
    }
</script>
{% endblock %}
