{% block css %}
<link rel="stylesheet" href="stylesheets/login.css"/>
{% endblock %}

{% extends 'main_layout.html' %}
{% block content %}

<style media="screen">
  @media ( max-width: 1200px ) {
    #main-container {
      display: grid;
      grid-template-areas: '. header .'
      '. content .'
      'footer footer footer';
      grid-template-columns: 1fr 4.5fr 1fr;
      grid-template-rows: 60px minmax(calc( 100vh - 360px ), 700px) 300px;
    }
  }
</style>

<div class="login-container">
    <div class="login-wrapper">
        <h2>회원가입</h2>
        <form id="user-form" class="form">
            <input type="text" name="user_id" class="input-box" placeholder="아이디: 영어, 숫자 6~20자" required>
            <input type="password" name="user_pwd" class="input-box" placeholder="8~16자 영문, 숫자, 특수문자를 최소 한가지씩 조합해주세요" required>
            <input type="password" name="user_pwd_confirm" class="input-box" placeholder="비밀번호 확인" required>
            <br><br>
            <span class="pt12"><span class="red">*</span>닉네임</span>
            <input type="text" name="user_nickname" class="input-box" placeholder="닉네임: 2~10자 제한" requried>
            <span class="pt12"><span class="red">*</span>이메일</span>
            <input type="email" name="user_email" class="input-box" placeholder="이메일을 입력해주세요" required>
            <span class="pt12">연락처</span>
            <input type="text" name="user_phone" class="input-box" placeholder="연락처">
            <div class="right">
            <input type="checkbox" id="checkbox" name="checkbox" class="checkbox" value="true"><a href="#"><span class="pt12">개인정보 이용약관 동의</span></a>
            </div>
            <input type="submit" class="submit-button" value="가입 완료">
        </form>
    </div>
</div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/join.js"></script>
{% endblock %}
