<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin_main.css"/>
    <title>{{title}}</title>
</head>

<body>
<div class="container">
<!----- 헤더 영역 ----->
    <div class="header">
        <div class="logo">온뜰</div>
        <div id="admin-name" class="name">{{user.user_nickname}}
            {% if user.user_roll === 'user' %}
                (유저)
            {% else %}
                (관리자)
            {% endif %}
        </div>
        <button class="logout-button" onclick="location.href='/auth/logout'">로그아웃</button>
    </div>

<!----- 메뉴 영역 ----->
    <div id="menu">
        <ul class="menu-item">
            <li class="nav" id="class-menu">
                <a href="#class-menu">클래스</a>
                <div class="submenu">
                    <a href="">수공예/DIY</a>
                    <a href="">요리</a>
                    <a href="">문화예술</a>
                    <a href="">스포츠</a>
                    <a href="">뷰티</a>
                    <a href="">수익창출</a>
                    <a href="">가족취미</a>
                </div>
            </li>
            <li class="nav" id="member-menu">
            <a href="#member-menu">회원관리</a>
                <div class="submenu">
                    <a href="">회원정보</a>
                    <a href="">전체페이지</a>
                </div>
            </li>
            <li class="nav" id="cs-menu">
            <a href="#cs-menu">CS관리</a>
                <div class="submenu">
                    <a href="">후기/Q&A 관리</a>
                </div>
            </li>
        </ul>
    </div>

<!----- 콘텐트 영역 ----->
    <div class="content">

        <!-- 검색창 -->
        <div class="search-box">
            <select name="search-filter" class="search-field">
                <option value="클래스이름">클래스이름</option>
                <option value="클래스가격">클래스가격</option>
                <option value="카테고리">카테고리</option>
                <option value="강사이름">강사이름</option>
            </select>
            <input type="text" class="search-input">
            <button class="search-button">검색</button>
        </div>

        {% block content %}
        {% endblock %}

        <!-- 페이지네이션 -->
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">〈</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">〉</a></li>
        </ul>

    </div>

</div>

</body>
</html>