{% extends 'layout.html' %}
{% block content %}
<!-- 클래스 추가 버튼 -->
<button id="add-button" class="big-button" onclick="location.href='/admin/write'">추가</button>

<!-- 클래스 리스트 -->
<table class="class-table">
<tr>
    <th>클래스이름</th>
    <th>클래스가격</th>
    <th>카테고리</th>
    <th>강사이름</th>
</tr>
{% for class in classes %}
<tr>
	<td><a href="/admin/class/{{class.id}}">{{class.class_title}}</a></td>
	<td>{{class.class_price}}</td>
	<td>{{class.category}}</td>
	<td>{{class.teacher_name}}</td>
</tr>
{% endfor %}
</table>

<!-- 페이지네이션 -->
<ul class="pagination">
    {% if pageNum | int > 1 %}
    <li class="page-item"><a class="page-link" href="/admin?page={{pageNum | int - 1}}">〈</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="/admin?page={{pageNum | int}}">{{pageNum | int}}</a></li>
    {% if pageNum < (pages / limit) %}
    <li class="page-item"><a class="page-link" href="/admin?page={{pageNum | int + 1}}">〉</a></li>
    {% endif %}
</ul>
{% endblock %}
