{% block css %}
<link rel="stylesheet" href="/stylesheets/login.css"/>
{% endblock %}

{% extends 'main_layout.html' %}
{% block content %}
<div class="container">
    <div class="wrapper">
    <h2>로그인</h2>
    <form action="/auth/login" method="post">
        <input type="text" name="user_id" class="input-box" placeholder="아이디" required>
        <input type="password" name="user_pwd" class="input-box" placeholder="비밀번호" required>
        <a class="right" href="/join">회원가입</a>
        <input type="submit" class="submit-button" value="로그인">
    </form>
    <a href="/auth/kakao">카카오 로그인</a>
    <a href="/auth/naver">네이버 로그인</a>
    </div>
</div>
{% endblock %}