{% block css %}
<link rel="stylesheet" href="/stylesheets/login.css"/>
{% endblock %}

{% extends 'main_layout.html' %}
{% block content %}
<div class="login-container">
    <div class="login-wrapper">
    <h2>로그인</h2>
    <form class="form" action="/auth/login" method="post">
        <input type="text" name="user_id" class="input-box" placeholder="아이디" required>
        <input type="password" name="user_pwd" class="input-box" placeholder="비밀번호" required>
        <div class="right">
        <a class="pt12" href="/join">회원가입</a><span class="pt12">｜</span><a class="pt12" href="/reset">비밀번호 찾기</a>
        </div>
        <input type="submit" class="submit-button" value="로그인">
    </form>
    <a href="/auth/kakao"><span class="pt12">카카오 아이디로 로그인</span></a>
    <a href="/auth/naver"><span class="pt12">네이버 아이디로 로그인</span></a>
    </div>
</div>
{% endblock %}