<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/login.css"/>
    <link rel="stylesheet" href="/stylesheets/category.css"/>
    <title>{{title}}</title>
</head>
<body>

<div id="main-container">
<!----- 헤더 영역 ----->
    <div class="header">
        <div id="main-wrapper">
        <a href="/"><img src="/images/logo_1536x984.png" alt="Ontelier" class="logo"></a>
        <div class="search-box">
            <input type="text" placeholder="취미를 검색해보세요!" class="search-input">
            <input type="button" class="search-icon"/>
        </div>
        <div class="right">
            {% if user and user.user_id %}
                <span>{{user.user_nickname}}님 안녕하세요</span>
                {% if user and user.user_roll !== 'user' %}
                <button class="button" type="button" onclick="location.href='/admin'">관리자</button>
                {% endif %}
                <button class="button" type="button" onclick="location.href='/mypage'">마이페이지</button>
                <button class="button" type="button" onclick="location.href='/auth/logout'">로그아웃</button>
            {% else %}
            <button class="button" type="button" onclick="location.href='/login'">로그인</button>
            <button class="button" type="button" onclick="location.href='/join'">회원가입</button>
            {% endif %}
        </div>
        </div>
    </div>

<!----- 콘텐트 영역 ----->
    <div class="content" id="content">
    {% block content %}
    {% endblock %}
    </div>

<!----- 푸터 영역 ----->
    <div class="footer">
        <h5>고객센터</h5>
        <div class="footer-list">
            <ul>
                <li>이메일: inquiry@ontel.inc</li>
                <li>고객센터: 1234-5678</li>
                <li>업무시간: 평일 10:00~17:00(점심:12:00~13:00)</li>
            </ul>
            <ul>
                <li>이용약관</li>
                <li>개인정보 처리방침</li>
                <li>환불정책</li>
                <li>사업자 정보 확인</li>
                <li>단체/기업 강사 문의</li>
                <li>제휴/협력문의</li>
            </ul>
        </div>
    </div>

</div>

    </body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('error')) {
                alert(new URL(location.href).searchParams.get('error'));
            }
        };


    </script>
</html>
