<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
    </head>
    <body>
        <img src="/images/logo_1536x984.png" alt="Ontelier" style="width:30%;height:30%;"><br>
        {% if user and user.user_id %}
            <p>{{user.user_nickname}}님 안녕하세요</p>
            {% if user and user.user_roll === 'admin' %}
                <a href="/admin">관리자</a><br>
            {% endif %}
            <a href="/auth/logout">로그아웃</a><br>
        {% else %}
            <a href="/login">로그인</a><br>
            <a href="/join">회원가입</a>
        {% endif %}
        
    </body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('loginError')) {
                alert(new URL(location.href).searchParams.get('loginError'));
            }
        };
    </script>
</html>