{% extends 'main_layout.html' %}

{% set best_view = best.slice(0, 4) %}
{% set sale_view = sale.slice(0, 4) %}
{% set newes_view = newes.slice(0, 4) %}
{% set family_view = family.slice(0, 4) %}
{% set reviews_view = reviews.slice(0, 4) %}

{% block content %}


<!-- 배너 영역 -->
<div class="banner autoplay">
  <div class="banner-item">
      <img class="banner-image" src="/images/banner1.png">
  </div>
  <div class="banner-item">
    <img class="banner-image" src="/images/banner2.png">
  </div>
  <div class="banner-item">
    <img class="banner-image" src="/images/banner3.png">
  </div>
</div>

<!-- 카테고리 영역 -->
<div class="category-wrapper slide">
    <div class="category-icon"><a href="/category?category1=DIY/수공예"><img src="/images/58.png"></a></div>
    <div class="category-icon"><a href="/category?category1=예술문화"><img src="/images/59.png"></a></div>
    <div class="category-icon"><a href="/category?category1=스포츠"><img src="/images/326.png"></a></div>
    <div class="category-icon"><a href="/category?category1=뷰티"><img src="/images/325.png"></a></div>
    <div class="category-icon"><a href="/category?category1=요리"><img src="/images/327.png"></a></div>
    <div class="category-icon"><a href="/category?category1=음악"><img src="/images/328.png"></a></div>
    <div class="category-icon"><a href="/category?category1=디자인/개발"><img src="/images/329.png"></a></div>
    <div class="category-icon"><a href="/category?category1=수익창출"><img src="/images/330.png"></a></div>
</div>

<!----- 콘텐츠 영역 ----->
<div class="container">
    <div class="class-container">

<!-- 인기 클래스 -->
<div class="class-wrapper">
    <p class="pt10">popularity class Best 10</p>
    <span class="pt27">인기 클래스 Best</span><a class="allview-btn pt10" href="/category/all?sort=best">전체보기</a>
        <div class="class-list">
            <!-- 클래스 리스트 -->
            {% for class in best_view %}

            {% set sale_price = class.class_price * ( (100 - class.class_discount) / 100 ) %}

            <div class="class-item" id="class-id{{class.id}}">
                <ul><a href="/class/{{class.id}}">
                    <li><div class="class-image"><img class="class-thumbnail" src="{{class.class_img}}"></div></li>
                    <li class="class-title">{{class.class_title}}</li>
                    <li class="class-price">
                        {% if class.class_discount %}
                        <span class="discount">{{class.class_discount}}%</span>
                        <span class="price">{{class.class_price.toLocaleString('ko-KR')}}원</span>
                        {% endif %}
                        <span class="sale_price">{{sale_price.toLocaleString('ko-KR')}}원</span><br>
                    </li>
                    <li class="class-score">

                        <div class="review-star-wrapper">
                          <div class="class-star-wrapper">
                            <span class="star">★★★★★</span><span class="star-fill">★★★★★</span>
                          </div>
                        </div>
                        <span class="pt10 gray count">({{class.reviewCount}})<!--후기개수--></span>
                    </li></a>
                </ul>
            </div>

            <script type="text/javascript">
              $("#class-id{{class.id}} .star-fill").css("width", "{{class.class_score * 20 + 5}}%");
            </script>

            {% endfor %}
        </div>
</div>

<!-- 특가 클래스 -->
<div class="class-wrapper">
    <p class="pt10">time deal class</p>
    <span class="pt27">오늘의 특가 클래스</span><a class="allview-btn pt10" href="/category/all?sort=sale">전체보기</a>
        <div class="class-list">
            <!-- 클래스 리스트 -->
            {% for class in sale_view %}

            {% set sale_price = class.class_price * ( (100 - class.class_discount) / 100 ) %}

            <div class="class-item" id="class-id{{class.id}}">
                <ul><a href="/class/{{class.id}}">
                    <li><div class="class-image"><img class="class-thumbnail" src="{{class.class_img}}"></div></li>
                    <li class="class-title">{{class.class_title}}</li>
                    <li class="class-price">
                        {% if class.class_discount %}
                        <span class="discount">{{class.class_discount}}%</span>
                        <span class="price">{{class.class_price.toLocaleString('ko-KR')}}원</span>
                        {% endif %}
                        <span class="sale_price">{{sale_price.toLocaleString('ko-KR')}}원</span><br>
                    </li>
                    <li class="class-score">

                        <div class="review-star-wrapper">
                          <div class="class-star-wrapper">
                            <span class="star">★★★★★</span><span class="star-fill">★★★★★</span>
                          </div>
                        </div>
                        <span class="pt10 gray count">({{class.reviewCount}})<!--후기개수--></span>
                    </li></a>
                </ul>
            </div>

            <script type="text/javascript">
              $("#class-id{{class.id}} .star-fill").css("width", "{{class.class_score * 20 + 5}}%");
            </script>
            {% endfor %}
        </div>
</div>

<!-- 신규 클래스 -->
<div class="class-wrapper">
    <p class="pt10">new class</p>
    <span class="pt27">신규 클래스</span><a class="allview-btn pt10" href="/category/all?sort=new">전체보기</a>
        <div class="class-list">
            <!-- 클래스 리스트 -->
            {% for class in newes_view %}

            {% set sale_price = class.class_price * ( (100 - class.class_discount) / 100 ) %}

            <div class="class-item" id="class-id{{class.id}}">
                <ul><a href="/class/{{class.id}}">
                    <li><div class="class-image"><img class="class-thumbnail" src="{{class.class_img}}"></div></li>
                    <li class="class-title">{{class.class_title}}</li>
                    <li class="class-price">
                        {% if class.class_discount %}
                        <span class="discount">{{class.class_discount}}%</span>
                        <span class="price">{{class.class_price.toLocaleString('ko-KR')}}원</span>
                        {% endif %}
                        <span class="sale_price">{{sale_price.toLocaleString('ko-KR')}}원</span><br>
                    </li>
                    <li class="class-score">
                      <div class="review-star-wrapper">
                        <div class="class-star-wrapper">
                          <span class="star">★★★★★</span><span class="star-fill">★★★★★</span>
                        </div>
                      </div>
                        <span class="pt10 gray count">({{class.reviewCount}})<!--후기개수--></span>
                    </li></a>
                </ul>
            </div>

            <script type="text/javascript">
              $("#class-id{{class.id}} .star-fill").css("width", "{{class.class_score * 20 + 5}}%");
            </script>
            {% endfor %}
        </div>
</div>

<!-- 가족 동반 클래스 -->
<div class="class-wrapper">
    <p class="pt10">with family class</p>
    <span class="pt27">가족과 함께 하는 강의</span><a class="allview-btn pt10" href="/category/all?sort=family">전체보기</a>
        <div class="class-list">
            <!-- 클래스 리스트 -->
            {% for class in family_view %}

            {% set sale_price = class.class_price * ( (100 - class.class_discount) / 100 ) %}

            <div class="class-item" id="class-id{{class.id}}">
                <ul><a href="/class/{{class.id}}">
                    <li><div class="class-image"><img class="class-thumbnail" src="{{class.class_img}}"></div></li>
                    <li class="class-title">{{class.class_title}}</li>
                    <li class="class-price">
                        {% if class.class_discount %}
                        <span class="discount">{{class.class_discount}}%</span>
                        <span class="price">{{class.class_price.toLocaleString('ko-KR')}}원</span>
                        {% endif %}
                        <span class="sale_price">{{sale_price.toLocaleString('ko-KR')}}원</span><br>
                    </li>
                    <li class="class-score">

                        <div class="review-star-wrapper">
                          <div class="class-star-wrapper">
                            <span class="star">★★★★★</span><span class="star-fill">★★★★★</span>
                          </div>
                        </div>
                        <span class="pt10 gray count">({{class.reviewCount}})<!--후기개수--></span>
                    </li></a>
                </ul>
            </div>

            <script type="text/javascript">
              $("#class-id{{class.id}} .star-fill").css("width", "{{class.class_score * 20 + 5}}%");
            </script>
            {% endfor %}
        </div>
</div>

<!-- 우수 후기 클래스 -->
<div class="class-wrapper">
    <p class="pt10">best review class</p>
    <span class="pt27">이달의 우수후기 클래스</span><a class="allview-btn pt10" href="/category/all?sort=review">전체보기</a>
        <div class="class-list">
            <!-- 클래스 리스트 -->
            {% for class in reviews_view %}

            {% set sale_price = class.class_price * ( (100 - class.class_discount) / 100 ) %}

            <div class="class-item" id="class-id{{class.id}}">
                <ul><a href="/class/{{class.id}}">
                    <li><div class="class-image"><img class="class-thumbnail" src="{{class.class_img}}"></div></li>
                    <li class="class-title">{{class.class_title}}</li>
                    <li class="class-price">
                        {% if class.class_discount %}
                        <span class="discount">{{class.class_discount}}%</span>
                        <span class="price">{{class.class_price.toLocaleString('ko-KR')}}원</span>
                        {% endif %}
                        <span class="sale_price">{{sale_price.toLocaleString('ko-KR')}}원</span><br>
                    </li>
                    <li class="class-score">

                        <div class="review-star-wrapper">
                          <div class="class-star-wrapper">
                            <span class="star">★★★★★</span><span class="star-fill">★★★★★</span>
                          </div>
                        </div>
                        <span class="pt10 gray count">({{class.reviewCount}})<!--후기개수--></span>
                    </li></a>
                </ul>
            </div>

            <script type="text/javascript">
              $("#class-id{{class.id}} .star-fill").css("width", "{{class.class_score * 20 + 5}}%");
            </script>
            {% endfor %}
        </div>
</div>

    </div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/javascripts/slider.js"></script>



{% endblock %}
