<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/slick/slick.css"/>
    <link rel="stylesheet" href="/stylesheets/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/stylesheets/default.css"/>
    <title>온뜰</title>
</head>
<body>

<div id="main-container">
<!----- 헤더 영역 ----->
    <div class="header">
        <div id="main-wrapper">
        <a href="/"><img src="/images/logo_1536x984.png" alt="Ontelier" class="logo"></a>
        <div class="search-box">
            <input type="text" id="text" placeholder="취미를 검색해보세요!" class="search-input" onkeydown="enterSearch()">
            <input type="button" class="search-icon" onclick="myFunction()"/>
        </div>
        <div class="right">
            {% if user and user.user_id %}
                <span>{{user.user_nickname}}님 안녕하세요</span>
                {% if user and user.user_roll !== 'user' %}
                <button class="button" type="button" onclick="location.href='/admin'">관리자</button>
                {% endif %}
                <button class="button" type="button" onclick="location.href='/mypage'">마이페이지</button>
                <button class="button" type="button" onclick="location.href='/auth/logout'">로그아웃</button>
            {% else %}
            <button class="button" type="button" onclick="location.href='/login'">로그인</button>
            <button class="button" type="button" onclick="location.href='/join'">회원가입</button>
            {% endif %}
        </div>
        </div>
    </div>

<!----- 콘텐트 영역 ----->
    <div class="content" id="content">
    {% block content %}
    {% endblock %}
    </div>

<!----- 푸터 영역 ----->
    <div class="footer">
        <h5>고객센터</h5>
        <div class="footer-list">
            <ul>
                <li>이메일: inquiry@ontel.inc</li>
                <li>고객센터: 1234-5678</li>
                <li>업무시간: 평일 10:00~17:00(점심:12:00~13:00)</li>
            </ul>
            <ul>
                <li>이용약관</li>
                <li>개인정보 처리방침</li>
                <li>환불정책</li>
                <li>사업자 정보 확인</li>
                <li>단체/기업 강사 문의</li>
                <li>제휴/협력문의</li>
            </ul>
        </div>
    </div>

</div>

    </body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
function enterSearch() {
    if(event.keyCode == 13){
        myFunction();  // 실행할 이벤트
    }
}
function myFunction() {
    var x = document.getElementById("text").value;
    window.location.href = "/search?title=" + x;
}
</script>

    <!-- {% if messages and messages.length > 0 %}
    <script>alert("{{messages}}");</script>
    {% endif %} -->
    {% if messages.error %}
    <script>alert("{{messages.error}}");</script>
    {% endif %}

<!-- Channel Plugin Scripts -->
<script>
    (function() {
      var w = window;
      if (w.ChannelIO) {
        return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
      }
      var ch = function() {
        ch.c(arguments);
      };
      ch.q = [];
      ch.c = function(args) {
        ch.q.push(args);
      };
      w.ChannelIO = ch;
      function l() {
        if (w.ChannelIOInitialized) {
          return;
        }
        w.ChannelIOInitialized = true;
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
        s.charset = 'UTF-8';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
      if (document.readyState === 'complete') {
        l();
      } else if (window.attachEvent) {
        window.attachEvent('onload', l);
      } else {
        window.addEventListener('DOMContentLoaded', l, false);
        window.addEventListener('load', l, false);
      }
    })();
    ChannelIO('boot', {
      "pluginKey": "afa73761-d55b-4b71-95b0-fdcb253b4aba"
    });
  </script>
  <!-- End Channel Plugin -->
</html>
