{% extends 'main_layout.html' %}
{% block content %}

<script src="/javascripts/getParameter.js"></script>

<link rel="stylesheet" href="/stylesheets/allview.css"/>

<div class="container">
    <div class="class-container">

      <div class="class-wrapper">
        <p class="pt10" id="list-text">my purchase</p>
        <span class="pt27" id="list-title"> 구매 목록</span>

            <div class="class-list">

{% for class in classes %}
<div class="class-item">
    <ul><a href="/class/contents/{{class.id}}">
        <li><div class="class-image"><img class="class-thumbnail" src="{{class.class_img}}"></div></li>
        <li class="class-title">{{class.class_title}}</li>
      </a>
    </ul>
    <button type="button" class="submit-button" id="mypage-submit-button" onclick="location.href='/class/{{class.id}}/review/write'">후기 작성</button>
</div>
{% endfor %}

          <!-- 클래스 리스트 열 맞추기 -->
          {% if classes.length % 4 != 0 %}
          <script>
            for (var i = 0; i < 4 - ({{classes.length}} % 4) ; i++) {

            document.write(`<div class="class-item"></div>`);

          }
          </script>
          {% endif %}

        </div>
      </div>
    </div>
</div>
{% endblock %}
