{% extends 'main_layout.html' %}
{% block content %}

<div class="mypage-container">


<div class="mypage-wrapper">

    <div class="mypage-space"></div>

    <div class="mypage-profile">
    <div class="mypage-profile-wrapper">

        <div class="profile-img">

          {% if user.user_profile_url %}
            <img class="profile-pic" src="{{user.user_profile_url}}">
          {% else %}
            <img class="profile-pic" src="/images/user.png">
          {% endif %}

        </div>

        <div class="profile-text">


        <span class="mypage-nickname">{{user.user_nickname}} 님</span>

            {% if user.provider === 'kakao' %}
            <span>카카오 계정</span>
            {% endif %}
            {% if user.provider === 'naver' %}
            <span>네이버 계정</span>
            {% endif %}

        {% if user and user.user_roll === 'bizz' %}
        <p>{{user.bizz_license}}</p>
        {% endif %}

        <p class="mypage-email">{{user.user_email}}</p>


        <button class="submit-button" id="info-edit-btn" type="button" onclick="location.href='/mypage/edit'">정보수정</button>
    </div>

    </div>

    <div class="mypage-button-wrapper">
      <button type="button" class="mypage-btn" onclick="location.href='/mypage/purchase'">구매내역<p class="mypage-btn-num">{{purchase_num}}개</p></button>
      <button type="button" class="mypage-btn" onclick="location.href='/mypage/wishlist'">찜 목록<p class="mypage-btn-num">{{wishlist_num}}개</p></button>
      <button type="button" class="mypage-btn" onclick="location.href='/mypage/reviews'">내 후기<p class="mypage-btn-num">{{review_num}}개</p></button>
    </div>

    </div>

          <div class="mypage-space"></div>

    </div>


</div>


<!-- 임시로 전체 클래스 띄움 -->
<div class="container">
    <div class="class-container">

<div class="class-wrapper">
    <p class="pt10">my class</p>
    <span class="pt27">내가 구매한 클래스</span><a class="allview-btn pt10" href="/mypage/purchase">전체보기</a>
        <div class="class-list">
            <!-- 클래스 리스트 -->
            {% for class in classes %}
            <div class="class-item">
                <ul><a href="/class/contents/{{class.id}}"> <!-- 강의 페이지로 -->
                    <li><div class="class-image"><img class="class-thumbnail" src="{{class.class_img}}"></div></li>
                    <li class="class-title">{{class.class_title}}</li>
                    </a>
                </ul>
                <button type="button" class="submit-button" id="mypage-submit-button" onclick="location.href='/class/{{class.id}}/review/write'">후기 작성</button>
            </div>
            {% endfor %}
        </div>
</div>


</div>
</div>

{% endblock %}
