{% extends 'main_layout.html' %}
{% block content %}

<script src="/javascripts/getParameter.js"></script>

<div class="container">
    <div class="class-container">

<div class="class-wrapper">
    <p class="pt10" id="list-text">search result</p>
    <span class="pt27" id="list-title"> 검색 결과</span>

        <div class="class-list">

{% for class in classes %}

{% set sale_price = class.class_price * ( (100 - class.class_discount) / 100 ) %}

<div class="class-item">
    <ul><a href="/class/{{class.id}}">
        <li><div class="class-image"><img class="class-thumbnail" src="{{class.class_img}}"></div></li>
        <li class="class-title">{{class.class_title}}</li>
        <li class="class-price">
            {% if class.class_discount %}
            <span class="discount">{{class.class_discount}}%</span>
            <span class="price">{{class.class_price.toLocaleString('ko-KR')}}원</span>
            {% endif %}
            <span class="sale_price">{{sale_price.toLocaleString('ko-KR')}}원</span><br>
        </li>
        <li class="class-score">
            <span class="pt14">{{"★".repeat(class.class_score) + ("☆".repeat(5 - class.class_score) )}}</span>
            <span class="pt10 gray">(146)<!--후기개수--></span> <!--임시. review 테이블에서 개수 가져오기-->
        </li></a>
    </ul>
</div>
{% endfor %}

          <!-- 클래스 리스트 열 맞추기 -->
          {% if classes.length % 4 != 0 %}
          <script>
            for (var i = 0; i < 4 - ({{classes.length}} % 4) ; i++) {

            document.write(`<div class="class-item"></div>`);

          }
          </script>
          {% endif %}

        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  var keyword = getParameter("title");
  $("#list-title").prepend(`"${keyword}"`);
</script>
{% endblock %}
