{% for class in classes %}
<div class="class-item">
    <ul><a href="/class/{{class.id}}">
        <li><div class="class-image"><img class="class-thumbnail" src="{{class.class_img}}"></div></li>
        <li class="class-title">{{class.class_title}}</li>
        <li class="class-price">{{class.class_price.toLocaleString('ko-KR')}}원</li>
        <li class="class-score">
            <span class="pt14">{{"★".repeat(class.class_score) + ("☆".repeat(5 - class.class_score) )}}</span>
            <span class="pt10 gray">(146)<!--후기개수--></span> <!--임시. review 테이블에서 개수 가져오기-->
        </li></a>
    </ul>
</div>
{% endfor %}