{% extends 'main_layout.html' %}
{% block content %}

<div class="login-container">
<div class="login-wrapper">

<h2>프로필 정보 수정</h2><br>
<form class="form" action="/mypage/update" method="post" enctype="multipart/form-data">

        <div class="profile-img" id="profile-img">

          {% if user.user_profile_url %}
          <img class="profile-pic" src="{{user.user_profile_url}}">
          {% else %}
          <img class="profile-pic" src="/images/user.png">
          {% endif %}

        </div><br>

        <input type="hidden" value="{{user.user_profile_url}}" name="original_img">

        <div class="file-box">
          <label for="ex_file">사진 올리기</label>
          <input type="file" name="user_profile_url" id="ex_file" accept="image/*" onchange="setThumbnail(event);"/>
        </div>

        <br>

        <span class="pt12">닉네임</span>
        <input type="text" name="user_nickname" class="input-box" maxlength="40" value="{{user.user_nickname}}" required>

        <span class="pt12">이메일</span>
        <input type="text" name="user_email" class="input-box" maxlength="80" value="{{user.user_email}}" required>

        <span class="pt12">비밀번호</span>
        <input type="password" name="user_pwd" class="input-box" maxlength="100" value="" required>

        <span class="pt12">비밀번호 변경</span>
        <input type="password" name="user_pwd_change" class="input-box" maxlength="100" placeholder="비밀번호 변경 시 입력해주세요 (영문, 숫자, 특문 포함 8~16자)" value="">

        <span class="pt12">연락처</span>
        <input type="text" name="user_phone" class="input-box" maxlength="40" value="{{user.user_phone}}">

    <input type="hidden" value="{{user.user_id}}" name="user_id">
    <input type="submit" id="user-submit" class="submit-button" value="수정">

</form>

</div>
</div>

<script type="text/javascript">
  function setThumbnail(event) {
    for (var image of event.target.files) {
      var reader = new FileReader();

      reader.onload = function(event) {
        var img = `<img class="profile-pic" src="${event.target.result}">`;
        document.getElementById("profile-img").innerHTML = img;
      };

      console.log(image);
      reader.readAsDataURL(image);
    }
  }
</script>
{% endblock %}
