{% extends 'main_layout.html' %}
{% block content %}
<div class="login-container">
<div class="login-wrapper">

<h2>프로필 정보 수정</h2><br>
<form class="form" action="/mypage/update" method="post" enctype="multipart/form-data">

        <div class="profile-img">

          {% if user.user_profile_url %}
          <img class="profile-pic" src="{{user.user_profile_url}}">
          {% else %}
          <img class="profile-pic" src="/images/user.png">
          {% endif %}

        </div><br>

        <input type="hidden" value="{{user.user_profile_url}}" name="original_img">
        <img src="{{user.user_profile_url}}">

        <label for="ex_file"></label><input type="file" name="user_profile_url">

        <br>

        <span class="pt12">닉네임</span>
        <input type="text" name="user_nickname" class="input-box" maxlength="40" value="{{user_nickname}}" required>

        <span class="pt12">이메일</span>
        <input type="text" name="user_email" class="input-box" maxlength="80" value="{{user_email}}" required>

        <span class="pt12">비밀번호</span>
        <input type="password" name="user_pwd" class="input-box" maxlength="100" value="{{user_pwd}}" required>

        <span class="pt12">연락처</span>
        <input type="text" name="user_phone" class="input-box" maxlength="40" value="{{user_phone}}" required>

    <input type="hidden" value="{{user.user_id}}" name="user_id">
    <input type="submit" class="submit-button" value="수정">

</form>

</div>
</div>
{% endblock %}
