{% extends 'layout.html' %}
{% block content %}
<h2>◆ 클래스 정보</h2>
{% if class %}
    <table>
        <tr>
            <th>클래스이름</th>
	    <td>{{class.class_title}}</td>
        </tr>
        <tr>
            <th>클래스가격</th>
	    <td>{{class.class_price}}</td>
        </tr>
        <tr>
            <th>클래스소개</th>
	    <td>{{class.class_info}}</td>
        </tr>
        <tr>
            <th>강사이름</th>
	    <td>{{class.teacher_name}}</td>
        </tr>
        <tr>
            <th>강사소개</th>
	    <td>{{class.teacher_info}}</td>
        </tr>
        <tr>
            <th>클래스이미지</th>
	    <td>아직 미지원</td>
        </tr>
    </table>
     <br>
    {% else %}
    <h1>잘못된 접근입니다</h1>
    {% endif %}
    <input type="button" value="돌아가기" onclick="history.back()">
{% endblock %}
