*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-areas: 
            ". header header ."
            ". menu content .";
    grid-template-columns: 1fr 1fr 3.5fr 1fr;
    grid-template-rows: 70px 1fr;
}

.red {
    color: #b51625;
}
.right {
    margin-left: auto;
  }
/* -----헤더----- */

.header {
    grid-area: header;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
  
    height: 60px;
    background: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }


  .logo {
    position: relative;
    width: 65px;
    height: 41.7px;
  }

#main-wrapper {
    position: absolute;
    width: 68%;
    margin: 0px 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
.name {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin-left: auto;
}

.button {
  position: relative;
  margin: 5px;
  right: 0;
  height: 27.8px;
  background-color: #f8f8f9;
  border: 0;
  cursor: pointer;
}

.pt24 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #85b830;
    padding: 10px;
    border-bottom: 0.5px solid #bfbfbf;
}
/* -----메뉴----- */
#menu {
    grid-area: menu;
    border-collapse: collapse;
}

li {
    list-style: none;
    padding: 10px;
}

.nav{
    overflow: hidden;
}

.menu-item {
    border: 0;
    margin: 0;
    padding: 15px;
}
.submenu{
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
}
.submenu a{
    display: block;
    padding: 15px 20px;
    color: #222;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    
}
.submenu a:after{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.submenu a:hover{
    background: #ddd;
   transition: all 0.3s;
    border-bottom: 1px solid #c8c8c8;
}
.submenu a:last-child{
    border:none;
}
.nav:target .submenu{
    max-height: 24em;
}

/* -----콘텐트----- */
.content {
    grid-area: content;
    display: flex;
    border: 0;
    padding: 30px;
    flex-direction: column;
}

.search-box {
    display: flex;
    width: 100%;
}
.search-input {
width: 100%;
padding: 6.7px 18.2px 8px 19px;
border-radius: 15.8px;
background-color: #e8e8ed;
border: 0;
}
.search-field {
    width: 100px;
    border-radius: 15.8px;
    text-align: center;
}


.search-button {
    display: inline-block;
    width: 50px;
    margin-left: auto;
    border-radius: 15.8px;
    border: 0;
}

.big-button {
    display: block;
    margin: 20px 0 20px auto;
    right: 0;

    width: 60px;
    height: 30px;
    padding: 5px;
    background-color: #85b830;
    border: 0;
    cursor: pointer;

    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #fff;
}

/* 테이블 */
.class-table, .user-table, .review-table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.user-table {

}

th, td {
    border-bottom: 1px solid #bfbfbf;
    font-size: 14px;
    height: 20px;
    padding: 7px;
  }

th {
    background-color: #eaeaea;
    color: #231815;
}

td a {
    color: #231815;
}

td a:hover {
    color: #85b830;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item {
    border: 0;
    padding: 5px;
    margin: 3px;
    height: 10px;
    font-size: 12px;
    line-height: 10px;
    color: #85b830;
}

.page-item a{
    color: #85b830;
}