p {
    font-size: 17px;
}

h3 {
  margin: 10px 0;
}
.green {
  color: #85b830;
}
.floating {
  position: sticky;
  top: 60px;
}

.class_view_container {
    display: grid;
    grid-template-areas:
      'banner banner'
      'left1 right1';
    grid-template-columns: 2.4fr 1.7fr;
    grid-template-rows: 540px 95%;
}

.class_banner {
  grid-area: banner;
  width:100%;
  height:100%;
  object-fit:cover;
}

.class_left {
  grid-area: left1;
  width: inherit;
}

.class_nav {
  margin: 30px 0;
  background-color: #fff;
  z-index: 3;
}
.class_nav ul {
  display: flex;
  border-bottom: 1px solid #f5f5f5;
}
.class_nav li {
  padding: 15px 30px;
  font-size: 18px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.2;
 letter-spacing: normal;
 text-align: left;
}
.class_nav li:hover {
  color: #85b830;
  font-weight: 800;
  cursor: pointer;
}

.class_nav a {
  color: #000;
}
.class_nav ul li.on {
  color: #85b830;
  font-weight: 800;
  border-bottom: 3px solid #85b830;
}

.class_right {
  grid-area: right1;
  width: inherit;
}
.class_float_wrapper {
  display: block;
  width: inherit;
  height: 170px;
  padding: 55px;
  border: 1px solid #f5f5f5;
}
.class_title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 30px;
}

.price {
  font-size: 14px;
  color: #7e7e7f;
  text-decoration: line-through;
  width: 60px;
  height: 20px;
  margin-left: auto;
}
.sale_price {
  font-size: 17px;
  width: 75px;
  height: 20px;
  margin-left: auto;
}
.discount {
  font-size: 14px;
  color: #b51625;
  width: 30px;
  height: 20px;
  margin-left: auto;
}

.like-button {
  float: left;
  border: none;
  background-color: #fff;
  color: #7e7e7f;
  width: 25%;
  height: 50px;
  font-size: 14px;
  margin-top: 28.4px;
  text-align: center;
}
.like-button:hover {
  cursor: pointer;
}

.class_contents {
  padding: 15px;
}
.class_contents img, video {
  max-width: 100%;
}
.class_contents iframe {
  width: 300px;
}

.scroll {
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #231815;

  margin-bottom: 20px;
  margin-right: 5px;
}
.scroll span {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #85b830;
  margin-left: 5px;
}

.pt20 {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #231815;
}
.date {
  float: right;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #7e7e7f;
}

.class_review_wrapper,
.class_QnA_wrapper {
  margin: 34px 0;
  padding-left: 16px;
}

.class_review_wrapper p, .class_QnA_wrapper p, .class_more_button {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #7e7e7f;
  padding: 12px 4px;
}

.QnA_answer {
  padding-left: 30px;
  margin-top: 10px;
}

.class_more_button {
  display: block;
  border: none;
  background-color: #fff;
  width: 200px;
  margin: auto;
  text-align: center;
}
.class_more_button a {
  color: #7e7e7f;
}
#class-submit-button {
  float: right;
  width: 70%;
}
.class_space {
  height: 70px;
}
