@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #231815;
  font-family: 'Pretendard Variable';
}

body {
  overflow-x: hidden;
}

#main-container {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    '. header .'
    '. content .'
    'footer footer footer';
  grid-template-columns: 1fr 4.5fr 1fr;
  grid-template-rows: 60px calc(100% - 360px) 300px;
}

.logo {
  /* 정확한 수치 바꾸기 */
  position: relative;
  width: 65px;
  height: 41.7px;
}

#main-wrapper {
  position: absolute;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header {
  grid-area: header;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;

  height: 60px;
  background: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #dae1e6;
}

.button {
  position: relative;
  margin: 5px;
  right: 0;
  height: 27.8px;
  padding: 0 5px;
  background-color: #f8f8f9;
  border: 0;
  cursor: pointer;
}
.right {
  margin-left: auto;
}
.content {
  grid-area: content;
  margin: 0;
}
.search-box {
  position: relative;
  text-align: center;
  top: 0;
  width: 220px;
  height: 31.6px;
  margin: 0 30px;
}
.search-input {
  width: 100%;
  padding: 6.7px 18.2px 8px 19px;
  border-radius: 15.8px;
  background-color: #e8e8ed;
  border: 0;
}
.search-icon {
  position: absolute;
  right: -20px;
  top: 7px;
  margin: 0;
  width: 14px;
  height: 14px;
  background: url( "/images/search-icon.png" ) no-repeat;
  border: none;
  cursor: pointer;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid #dae1e6; */
  background-color: rgb(239, 239, 239);
}
.footer-list ul {
  float: left;
  margin: 20px 80px;
}
.footer-list ul li {
  font-size: 10px;
  margin: 5px 0;
  color: #757575;
}
.banner {
  width: 100vw;
  height: 668px;
  background-color: lightgray;
  overflow: hidden;
}
.banner-item {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.banner-image {
  width: auto !important;
  height: auto !important;
  object-fit: cover;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.category-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc((100vh - 668px - 60px) / 2 - 63px) calc((100vw - 1200px) / 2);
  width: 100vw;
  min-height: 220px;
}
.category-icon {
  position: relative;
  height: 127px;
  width: 80px;
  margin: 0 50px;
  flex: none;
}
.category-next {
  all: unset;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.category-next img {
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-areas:
          ". content .";
  grid-template-columns: calc(50vw - 600px) 1200px calc(50vw - 600px);
  grid-template-rows: 1fr;
  margin-top: 60px;
}
.class-container {
  grid-area: content;
  display: flex;
  flex-direction: column;
}
.class-wrapper{
  margin-bottom: 75px;
}

.allview-btn {
  float: right;
  line-height: 27px;
}

.pt10 {
  font-size: 10px;
  margin: 5px 0;
}
.pt14 {
  font-size: 14px;
}
.gray {
  color: #757575;
}
.pt27 {
  font-size: 27px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #231815;
}
.count {
  padding-left: 3px;
  vertical-align: text-top;
  line-height: 1.5em;
}

.class-list {
  display: flex;
  justify-content: start;
  margin: 10px 0;
  overflow: hidden;
}
.class-item {
  position: relative;
  width: 282px;
  height: auto;
  margin-right: 24px;
  flex: none;
}
.class-image {
  position: relative;
  width: 282px;
  height: 282px;
  flex: none;
  overflow: hidden;
}
.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.swiper-slide {
  width: 282px;
  height: 282px;
  text-align: center;
  font-size: 18px;
  background: grey;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: centert;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  overflow:hidden;
}

.class-thumbnail {
  width:100%;
  height:100%;
  object-fit:cover;
  transition: all 0.2s linear;
}

.class-thumbnail:hover {
  transform: scale(1.1);
}

.class-title {
  height: 70px;
  padding: 10px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #231815;
}

.class-price {
  padding: 0 10px;
}

.class-score {
  padding: 0 10px;
}
.class-item .star-fill {
  color: #7e7e7f !important;
}


.swiper-button-next, .swiper-button-prev {
  --swiper-navigation-size: 14px;
  color: white;
}

#load {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background: white;
  z-index: 99;
  text-align: center;
}

#load>img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}


/* ----- 반응형 태블릿 ----- */

@media screen and ( max-width: 1200px ) {

  /* #main-container {
    display: grid;
    grid-template-areas:
      '. header .'
      '. content .'
      'footer footer footer';
    grid-template-columns: 1fr 900px 1fr;
    grid-template-rows: 60px 95% 300px;
  } */
  #main-wrapper {
    width: 900px;
  }

  .banner {
    height: 367px;
  }

  .banner-image {
    width: 100% !important;
    height: 367px !important;
  }

  .category-wrapper{
    padding: 20px calc((100vw - 900px) / 2);
    min-height: 150px;
  }
  .category-icon {
    position: relative;
    height: 100px;
    width: 71px;
    margin: 0 50px;
    flex: none;
  }
  .category-icon img {
    height: 100px;
    object-fit: cover;
  }
  .category-next {
    height: 20px;
    width: 20px;
  }

  .container {
    display: grid;
    grid-template-areas: ". content .";
    grid-template-columns: calc(50vw - 450px) 900px calc(50vw - 450px);
    grid-template-rows: 1fr;
    margin-top: 60px;
  }

}
