* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#main-container {
  display: grid;
  grid-template-areas:
    '. header .'
    '. content .'
    'footer footer footer';
  grid-template-columns: 1fr 4.5fr 1fr;
  grid-template-rows: 60px calc(100vh - 60px) 300px;
}

.logo {
  /* 정확한 수치 바꾸기 */
  position: relative;
  width: 65px;
  height: 41.7px;
}

#main-wrapper {
  position: absolute;
  width: 68%;
  margin: 0px 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.header {
  grid-area: header;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;

  height: 60px;
  background: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.button {
  position: relative;
  margin: 5px;
  right: 0;
  height: 27.8px;
  background-color: #f8f8f9;
  border: 0;
  cursor: pointer;
}
.right {
  margin-left: auto;
}
.content {
  grid-area: content;
  margin: 0;
}
.search-box {
  position: relative;
  text-align: center;
  top: 0;
  width: 420px;
  height: 31.6px;
  margin: 0 30px;
}
.search-input {
  width: 100%;
  padding: 6.7px 18.2px 8px 19px;
  border-radius: 15.8px;
  background-color: #e8e8ed;
  border: 0;
}
.fa-search {
  position: absolute;
  right: 0px;
  top: 5px;
  margin: 0;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}
