.mypage-space {
  height: 100px;
}


#mypage-submit-button {
  display: block;
  width: 150px;
  text-align: center;
  padding: 0;
}

.mypage-container {
  display: grid;
  grid-template-areas:
          ". mycontent .";
  grid-template-columns: calc(50vw - 600px) 1200px calc(50vw - 600px);
  grid-template-rows: 1fr;
}
.mypage-wrapper {
  grid-area: mycontent;
}

.mypage-profile {
  height: 130px;
  margin-top: 60px;
}
.mypage-profile-wrapper {
  margin-left: 135px;
  width: 400px;
  height: 130px;
  float: left;
}

.profile-img {
  float: left;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #eaeaea;
  overflow: hidden;
  margin: 0 auto;
}

.profile-pic {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center center;
}

.profile-text {
    padding: 15px 25px;
    float: left;
    height: fit-content;
    width: 200px;
}

.mypage-nickname {
  font-size: 22px !important;
  font-stretch: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #231815 !important;
}

.profile-text span {
  font-size: 1em;
  color: #7e7e7f;
}
.mypage-email {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #7e7e7f;
  padding-top: 4px;
}

#info-edit-btn {
  width: 110px;
  height: 38px;
  font-size: 15px;
  padding: 0;
  margin: 16px auto auto auto;
}

.mypage-button-wrapper {
  width: 300px;
  height: 95px;
  float: right;
  margin: 17.5px 135px;
}

.mypage-btn {
  width: 95px;
  height: 95px;
  border-radius: 5px;
  border: none;
  background-color: #eaeaea;
  text-align: left;
}
.myBtn-text-wrapper {
  padding: 20px 15px 10px 15px;
}
.myBtn-text-wrapper img {
  display: block;
  width: 15px;
}
.myBtn-text-wrapper img,
.myBtn-text-wrapper p,
.myBtn-text-wrapper div {
  padding: 2px 0;
}
.mypage-btn-num {
  font-size: 15px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #85b830;
}


/* ----- 반응형 태블릿 ----- */

@media ( max-width: 1200px ) {

  .mypage-container {
    grid-template-columns: calc(50vw - 450px) 900px calc(50vw - 450px);
  }

  .mypage-profile-wrapper {
      margin-left: 0;
  }
  .mypage-button-wrapper {
    width: 300px;
    height: 95px;
    float: right;
    margin: 17.5px -7px;
  }

  .mypage-space {
    height: 30px;
  }



}
