form h3 {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
form textarea {
  padding: 10px;
}
progress {
  -webkit-appearance: none;
  width: 466px;
  height: 10px;
}
.score-bar-item {
  padding: 7.5px;
}
.score-bar-item span {
  margin: 0 15px;
}
::-webkit-progress-bar {
  background-color: #c6c6c6;
}

::-webkit-progress-value {
  background-color: #85b830;
}

.score-bar {
  animation: progressbar 0.5s ease-out;
  border: 0;
  background-color: #c6c6c6;
}

.review-star-wrapper .class-star-wrapper {
  display: inline-block;
  position: relative;
  height: 17px;
  width: 73px;
}
.review-star-wrapper  .class-star-wrapper .star {
  font-size: 1em;
  margin-left: 5px;
  position: absolute;
  left: 0;
  color: #ddd;
}
.review-star-wrapper  .class-star-wrapper .star-fill {
  font-size: 1em;
  margin-left: 5px;
  position: absolute;
  left: 0;
  color: red;
  width: 0;
  overflow: hidden;
  pointer-events: none;
}

.file-box label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  margin: 20px 0;
}

.file-box input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

#image-container {
  display: block;
  overflow: hidden;
}
#image-container img {
  border-radius: .35em;
  margin-right: 10px;
  width: 30%;
  height: auto;
  object-fit: cover;
}
