form h3 {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
form textarea {
  padding: 10px;
}
textarea[name="review_text"] {
  font-size: 1em;
}
progress {
  -webkit-appearance: none;
  width: 466px;
  height: 10px;
}
.score-bar-item {
  padding: 7.5px;
}
.score-bar-item span {
  margin: 0 15px;
}
::-webkit-progress-bar {
  background-color: #c6c6c6;
}

::-webkit-progress-value {
  background-color: #85b830;
}

.score-bar {
  animation: progressbar 0.5s ease-out;
  border: 0;
  background-color: #c6c6c6;
}
.star-wrapper {
    display: flex;
    justify-content: center;
}

.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
  }

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.star span {
  width: 0;
  position: absolute;
  left: 0;
  color: #85b830;
  overflow: hidden;
  pointer-events: none;
}
.review-star-wrapper {
  display: inline-block;
}
.review-star-wrapper .class-star-wrapper {
  display: inline-block;
  position: relative;
  height: 17px;
  width: 73px;
}
.review-star-wrapper  .class-star-wrapper .star {
  font-size: 1em;
  position: absolute;
  left: 0;
  color: #ddd;
}
.review-star-wrapper  .class-star-wrapper .star-fill {
  font-size: 1em;
  position: absolute;
  left: 0;
  color: #85b830;
  width: 0;
  overflow: hidden;
  pointer-events: none;
}

.file-box label {
  display: block;
  width: 80px;
  padding: .5em .75em;
  color: #c6c6c6;
  font-size: 1em;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  border: solid 1px #c6c6c6;
  border-radius: .25em;
  margin: 20px auto auto auto;
}

.file-box input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

#image-container {
  display: block;
  overflow: hidden;
  margin-top: 20px;
  width: 150px;
  height: 150px;
}
#image-container img {
  display: inline-block;
  border-radius: .35em;
  margin-right: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-button-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review-score-wrapper {
  width: 730px;
  margin-bottom: 90px;
}
.score-wrapper {
  float: left;
  margin: auto;
  width: calc(730px - 580px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-bar-wrapper {
  float: right;
}
#class-score-avg {
  font-size: 25px;
  font-weight: 700;
}
#class-score-avg img {
  height: 30px;
  width: 30px;
}
.review-score-wrapper > p {
  margin: 60px 0 40px 0;
  font-size: 25px;
}

.list-filter {
    width: fit-content;
}

.filter-title {
  font-size: 27px;
  padding: 19px;
}

.class_review_wrapper .profile-img {
  width: 60px;
  height: 60px;
}
.class_review_wrapper .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review-profile-wrapper {
  display: inline-block;
  height: 40px;
  width: 500px;
  padding: 7.5px 18px;
}
.review-profile-wrapper .date {
  float: none;
  padding-left: 10px;
  vertical-align: top;
  font-size: 0.8em;
  line-height: 1.5em;
}

.review-profile-wrapper > .pt20 {
  font-size: 25px;
}

.thumbsup-text {
  font-size: 0.85em;
  margin-bottom: 10px;
  vertical-align: middle;
  font-weight: 400;
}
.thumbsup-text img {
  width: 13px;
  height: 13px;
}
.thumbsup-text button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  width: 13px;
  margin-right: 6px;
}
.review-list-wrapper .class_review_wrapper {
  margin: 50px 0;
}

.review-list-wrapper {
  width: 100%;
}

.review-list-wrapper > p {
    color: #7e7e7f;
    text-align: center;
    margin-top: 50px;
}

.review-list-wrapper .class_review_wrapper {
  padding-left: 0;
}

/* ----- 반응형 태블릿 ----- */

@media ( max-width: 1200px ) {

  .review-container {
    width: 900px;
  }

}
